<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>Let me use your media library</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Let me use bluetooth</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Let me use bluetooth</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Let me use your calendars</string>
    <key>NSCalendarsWriteOnlyAccessUsageDescription</key>
    <string>Let me use your calendars</string>
    <key>NSCameraUsageDescription</key>
    <string>Let me use the camera</string>
    <key>NSContactsUsageDescription</key>
    <string>Let me use your contacts</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Let me use FaceID</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Let me use your location, even in background</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>full-accuracy</key>
      <string>Let me use your precise location temporarily</string>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Let me use your location when the app is opened</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Let me use the microphone</string>
    <key>NSMotionUsageDescription</key>
    <string>Let me use your motion data</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Let me add photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Let me use your photo library</string>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>Let me use your reminders</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Let me use speech recognition</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Let me use your ad identifier</string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>MaxcareApp</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>maxcareapp</string>
          <string>com.maxcareapp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+maxcareapp</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to connect to bluetooth devices</string>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>
